SAGA_DATABASE_URL=mssql+aioodbc://sa:Password12345@localhost:14331/optimalleads_saga?driver=ODBC+Driver+17+for+SQL+Server&TrustServerCertificate=yes
INTERNAL_SERVICE_PROTOCOL=rest
LEADS_API_BASE_URL=http://127.0.0.1:8002
ANALYTICS_API_BASE_URL=http://127.0.0.1:8003
LEADS_GRPC_TARGET=127.0.0.1:50051
ANALYTICS_GRPC_TARGET=127.0.0.1:50052