PERSISTENCE_PROVIDER=sqlserver
BUSINESS_DATABASE_URL=mssql+aioodbc://sa:Password12345@localhost:14331/optimalleads_chat?driver=ODBC+Driver+17+for+SQL+Server&TrustServerCertificate=yes
RESET_DATABASE_ON_STARTUP=true
OUTBOX_DATABASE_URL=
AUDIT_DATABASE_URL=
EVENTS_DATABASE_URL=
BROKER_PROVIDER=faststream_kafka
BROKER_URL=localhost:9092
BROKER_TOPIC=optimalleads.chat.events
BROKER_QUEUE=optimalleads.chat.events
BROKER_CONSUMER_GROUP=optimalleads-chat-group
TELEMETRY_SERVICE_NAME=optimalleads-chat